# Place in /etc/systemd/system/
[Unit]
Description=Rotary Phone Control
After=multi-user.target

[Service]
Type=simple
User=tylerhill
ExecStart=/usr/bin/python3 /home/tylerhill/Documents/rotary/rotary/src/main.py --headless
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

