# Place in /etc/systemd/system/
[Unit]
Description=Rotary Phone Control
After=multi-user.target

[Service]
Type=simple
User=gotyh
ExecStart=/home/gotyh/Documents/rotary/rotary/venv/bin/python /home/gotyh/Documents/rotary/rotary/src/main.py --headless
KillSignal=SIGTERM
TimeoutStopSec=1
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

